<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro de Animais
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-list *ngFor="let animal of lista;">
    <ion-item button detail lines="full" (click)="irParaEditar(animal)">
      <ion-label>{{animal.especie}}</ion-label>
      <ion-label>{{animal.nome}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="tertiary" (click)="irParaRegistro()">
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
